In [1]:
import pandas as pd
import numpy as np
import sklearn
import json

In [2]:
info_file = 'user_metadata_latest.jsonl'
info_train = []
with open(info_file) as fp:
    for line in fp.readlines():
        info_train.append(json.loads(line))

In [3]:
user_info = pd.DataFrame(info_train)

In [4]:
user_info

,created_at,description,favourites_count,followers_count,friends_count,id,lang,listed_count,location,name,profile_location,screen_name,statuses_count,time_zone,utc_offset,verified
0,2018-03-25 02:13:52,eating disorder survivor - cat lover - writer ...,27,57,154,977730252649705472,en,0,,Jeanine Cyze,None,cyzeoversize,82,None,None,False
1,2016-06-11 17:44:25,Mental health + Autism campaigner in Wales. Ra...,2332,949,696,741687543687741440,en,6,"Wales, United Kingdom",Mair Elliott,None,MairElliott1,1835,None,None,False
2,2011-07-19 04:34:11,Sometimes I paint my pictures with words. Some...,3785,250,521,338151808,en,6,The Mitten ‚úãüèª,Kala‚ú®,None,ItsKalaNoY,16916,None,None,False
3,2009-05-17 16:36:28,‚ô° 22 year old Princess from Scotland. ‚ú® Tattoo...,22307,2867,517,40688348,en,25,Wonderland,üñ§üëª Ree üéÉüñ§,None,earthtoree,53628,None,None,False
4,2009-09-23 10:06:57,..Change is always possible.. Trying to recove...,639,801,869,76607387,en,20,,Beck,None,NewFoundWings,18537,None,None,False
5,2018-08-30 14:26:25,sensitive gal de profession #queerasfuck #meto...,1208,96,137,1035171888056688641,en,0,"Montr√©al, Qu√©bec",liv,None,lilglacevanille,573,None,None,False
6,2010-09-29 15:27:23,"Runner, warrior, author of Stand Tall Little G...",16231,5216,2939,196633990,en,107,"London, England",Hope Virgo,None,HopeVirgo,24640,None,None,False
7,2015-09-28 02:53:28,Lisabeth's story is one of wrestling with her ...,58,65,116,3799361902,en,2,,Lisabeth Kaeser,None,lisabethkaeser,240,None,None,False
8,2012-05-07 05:18:10,21|VanCity|Music|Swiftie|Youtube = life. I MET...,317,144,406,573318461,en,2,Canada,‚ô° Amanda Maria ‚ô°,None,AmandaGrundle,2303,None,None,False
9,2009-05-21 19:05:48,coffee drinking tree hugger üå≤ üèï PTA student. r...,14775,307,309,41652445,en,0,The Mitten,Hannah,None,HanBaNannz,5978,None,None,False

In [5]:
dump = user_info[['description','statuses_count', 'screen_name']]

In [6]:
dump

,description,statuses_count,screen_name
0,eating disorder survivor - cat lover - writer ...,82,cyzeoversize
1,Mental health + Autism campaigner in Wales. Ra...,1835,MairElliott1
2,Sometimes I paint my pictures with words. Some...,16916,ItsKalaNoY
3,‚ô° 22 year old Princess from Scotland. ‚ú® Tattoo...,53628,earthtoree
4,..Change is always possible.. Trying to recove...,18537,NewFoundWings
5,sensitive gal de profession #queerasfuck #meto...,573,lilglacevanille
6,"Runner, warrior, author of Stand Tall Little G...",24640,HopeVirgo
7,Lisabeth's story is one of wrestling with her ...,240,lisabethkaeser
8,21|VanCity|Music|Swiftie|Youtube = life. I MET...,2303,AmandaGrundle
9,coffee drinking tree hugger üå≤ üèï PTA student. r...,5978,HanBaNannz

In [7]:
tweet_file = 'user_tweets_latest.jsonl'
tweet_train = []
with open(tweet_file) as fp:
    for line in fp.readlines():
        tweet_train.append(json.loads(line))

In [8]:
tweets = pd.DataFrame(tweet_train)

In [9]:
tweets.head()

,entities,id,in_reply_to_status_id,in_reply_to_user_id,text,truncated,tweeter_id,tweeter_screen_name
0,"{'hashtags': [], 'symbols': [], 'user_mentions...",1050256335491616768,1.050256e+18,573318461.0,Oh and btw I met her in your unicorn onesie an...,False,573318461,AmandaGrundle
1,"{'hashtags': [{'text': 'anorexiarecovery', 'in...",1050256080029118465,NaN,NaN,Hey @laurDIY!! Just me over here reminiscing o...,False,573318461,AmandaGrundle
2,"{'hashtags': [], 'symbols': [], 'user_mentions...",1049484781400936448,1.049175e+18,338597571.0,@joeygrundl Omg lucky,False,573318461,AmandaGrundle
3,"{'hashtags': [], 'symbols': [], 'user_mentions...",1049402347808534529,NaN,NaN,I added a video to a @YouTube playlist https:/...,False,573318461,AmandaGrundle
4,"{'hashtags': [], 'symbols': [], 'user_mentions...",1049376542562836480,NaN,NaN,VOTED!!! I‚ÄôM SO EXCITED TO SEE @taylorswift13 ...,False,573318461,AmandaGrundle

In [10]:
NewFoundWings = tweets[tweets.tweeter_screen_name=='NewFoundWings']

In [11]:
NewFoundWings.reset_index(inplace=True)

In [13]:
NewFoundWings.head()

,index,entities,id,in_reply_to_status_id,in_reply_to_user_id,text,truncated,tweeter_id,tweeter_screen_name
0,10494,"{'hashtags': [], 'symbols': [], 'user_mentions...",1051741357876883457,1.051734e+18,20902901.0,@BefuddledSharon I know some schools already d...,False,76607387,NewFoundWings
1,10495,"{'hashtags': [{'text': 'Casualty', 'indices': ...",1051466061407772684,1.051405e+18,706876069.0,@BBCCasualty People questioning how she got to...,False,76607387,NewFoundWings
2,10496,"{'hashtags': [], 'symbols': [], 'user_mentions...",1051461255796576256,1.051458e+18,44356998.0,@RoyalParksHalf @Pret @Luciee_lu We missed thi...,False,76607387,NewFoundWings
3,10497,"{'hashtags': [{'text': 'BBCSML', 'indices': [2...",1051429683278024706,NaN,NaN,Mental health - everyone has it.\n\nMental ill...,False,76607387,NewFoundWings
4,10498,"{'hashtags': [{'text': 'BBCSML', 'indices': [2...",1051428577818886144,NaN,NaN,'The best people to see mental health issues a...,False,76607387,NewFoundWings

In [14]:
NewFoundWings.shape

(3216, 9)

In [15]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from imp import reload
import TweetPreprocessor
reload(TweetPreprocessor)
from TweetPreprocessor import TweetPreprocessor 

analyser = SentimentIntensityAnalyzer()

def analyse_sentiment(tweeter, preprocess=False):
    for i in range(0, tweeter.shape[0]):
        text = tweeter.iloc[i].text
        np_score = analyser.polarity_scores(text)
        
        preprocessed_text = TweetPreprocessor.pipeline(text)
        score = analyser.polarity_scores(preprocessed_text)
        
        tweeter.loc[i, 'compound'] = score['compound']
        tweeter.loc[i, 'pos'] = score['pos']
        tweeter.loc[i, 'neg'] = score['neg']
        tweeter.loc[i, 'neu'] = score['neu']
        
        tweeter.loc[i, 'compound_np'] = np_score['compound']
        tweeter.loc[i, 'pos_np'] = np_score['pos']
        tweeter.loc[i, 'neg_np'] = np_score['neg']
        tweeter.loc[i, 'neu_np'] = np_score['neu']      
    return tweeter

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/rvsandeep/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/rvsandeep/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [16]:
analysed_user = analyse_sentiment(pd.DataFrame(NewFoundWings))

In [17]:
analysed_user.head()

,index,entities,id,in_reply_to_status_id,in_reply_to_user_id,text,truncated,tweeter_id,tweeter_screen_name,compound,pos,neg,neu,compound_np,pos_np,neg_np,neu_np
0,10494,"{'hashtags': [], 'symbols': [], 'user_mentions...",1051741357876883457,1.051734e+18,20902901.0,@BefuddledSharon I know some schools already d...,False,76607387,NewFoundWings,0.0000,0.000,0.000,1.000,0.0000,0.000,0.000,1.000
1,10495,"{'hashtags': [{'text': 'Casualty', 'indices': ...",1051466061407772684,1.051405e+18,706876069.0,@BBCCasualty People questioning how she got to...,False,76607387,NewFoundWings,-0.5859,0.000,0.270,0.730,-0.1027,0.000,0.080,0.920
2,10496,"{'hashtags': [], 'symbols': [], 'user_mentions...",1051461255796576256,1.051458e+18,44356998.0,@RoyalParksHalf @Pret @Luciee_lu We missed thi...,False,76607387,NewFoundWings,0.1779,0.255,0.275,0.470,0.1779,0.225,0.243,0.533
3,10497,"{'hashtags': [{'text': 'BBCSML', 'indices': [2...",1051429683278024706,NaN,NaN,Mental health - everyone has it.\n\nMental ill...,False,76607387,NewFoundWings,0.6597,0.204,0.068,0.729,0.4404,0.146,0.070,0.783
4,10498,"{'hashtags': [{'text': 'BBCSML', 'indices': [2...",1051428577818886144,NaN,NaN,'The best people to see mental health issues a...,False,76607387,NewFoundWings,0.8608,0.220,0.000,0.780,0.8608,0.212,0.000,0.788

In [ ]:
from imp import reload
import TweetPreprocessor
reload(TweetPreprocessor)
from TweetPreprocessor import TweetPreprocessor

In [ ]:
text = '@callieanastasia I‚Äôm so sorry üò¢ I love you ‚ù§Ô∏è'
preprocessed_text = TweetPreprocessor.pipeline(text)

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [ ]:
analyser.polarity_scores(text)

In [ ]:
analyser.polarity_scores(preprocessed_text)

In [ ]:
text

In [ ]:
preprocessed_text